@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600&family=Sora:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}
html {
    scroll-behavior: smooth;
}
:root {
    --secondary: #222222;
}

body {
    background-color: var(--secondary);
}

a {
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
}

@media (max-width: 500px) {
    body {
        font-size: 12px;
    }
}